body {
  background:whitesmoke;
  font-family: 'Times New Roman';
}
.box {
    min-height: 10px;
    padding: 0px;
    padding-right: 0px;
    margin: 0px;
    font-weight: 800;
    color: #270a55;
  }

img{
    width: 100%
  }
p{
  text-align: left;
  font-weight: normal;
}

.white {
    background:white;
  }

.navbar {
    padding: 2px;
    background:white;
  }
  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5x;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}
h2{
  font-weight: bold;
  font-size: 1.5rem;
  color: turquoise;
}
h6{
  text-align: center;
  font-weight: bold;
  color: turquoise;
}
/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

nav#large {
  display: block;
}

nav#small {
  display: none;
  background-color: turquoise;
  color: white;
}
/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 580 pixels */
@media (max-width: 600px) {

  .navbar li {
    font-size: 1em;
    padding: .6em;
  }
  
  nav#large {
    display: none;
  }

  nav#small {
    display: block;
  }
}